.primary-header {
  margin-top: var(--spacing-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-toggle {
  display: block;
  border: none;
  background-color: inherit;
}

.mobile-dialog:open .header-nav-toggle {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.mobile-dialog:open {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
  text-align: center;
  border: none;
  border-radius: 7px;
  padding: var(--size-800);
  font-size: var(--size-800);
}

.mobile-dialog:open nav {
  display: block;
  }

.mobile-dialog:open nav ul {
  display: grid;
  gap: var(--spacing-300);
}

@media (min-width: 50em) {
  .header-nav-toggle {
    display: none;
  }
}