:root {
  --clr-neutral-900: #191919;
  --clr-neutral-800: #272727;
  --clr-neutral-700: #adadad;
  --clr-neutral-600: #eaeaea;
  --clr-neutral-200: #f4f4f4;
  --clr-neutral-100: #ffffff;

  --clr-shadow-900: #19191919;

  --ff-primary: "IBM Plex Sans", sans-serif;
  --ff-secondary: "Oregano", cursive;

  --fw-regular: 400;
  --fw-bold: 700;

  --size-900: 1.75rem;
  --size-800: 1.375rem;
  --size-700: 1.25rem;
  --size-600: 1.125rem;
  --size-500: 1rem;
  --size-400: 1.125rem;
  --size-300: 1rem;

  --spacing-800: 6.25rem;
  --spacing-700: 3.125rem;
  --spacing-600: 2rem;
  --spacing-300: 1.25rem;
  --spacing-200: .625rem;
  --spacing-100: 1.4375rem;
}

@media (min-width: 50em) {
  :root {
    --size-900: 3.125rem;
    --size-800: 2.25rem;
    --size-700: 2rem;
    --size-600: 1.75rem;
    --size-500: 1.375rem;
    --size-400: 1.25rem;
    --size-300: 1rem;

    --spacing-800: 12.5rem;
    --spacing-700: 6.25rem;
    --spacing-300: 2rem;
    --spacing-200: 1.75rem;
    --spacing-100: 1rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--size-500);
  color: var(--clr-neutral-800);
  background-color: var(--clr-neutral-200);
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  --max-width: 1200px;
  --side-padding: 1rem;

  width: min(var(--max-width), 100% - var(--side-padding) * 2);
  margin-inline: auto;
}

.button {
  border-radius: 10px;
  padding: 0.5rem;
  background: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  border: none;
  box-shadow: 0 0 10px var(--clr-shadow-900);
  transition: ease 0.3s;
}

.button:hover {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-900);
  transition: ease 0.3s;
}

.double-margin-top {
  margin-top: var(--spacing-800);
}

.margin-top {
  margin-top: var(--spacing-700);
}

